<%- include('../partials/topicPartials/header') -%>
<%- include('../partials/nav') -%>
<h3>This is the page users see when they click on the 'FRONT' link on the home page.</h3>
<small>This page would show all the FrontEnd TOPICS available to read</small>

<ol>
  <li>Decide what are the FrontEnd topics i want to feature on this site </li>
  <li>Design and style the page based on the topics featured</li>
</ol>


<%- include('../partials/topicPartials/footer') -%>
