<%- include('../partials/topicPartials/header') -%>
<%- include('../partials/nav') -%>

<h1> Topic: <small class="topic"><%= title %></small></h1>
<h3>This is the page users see when they click on the specific topic on the 'FRONT / BACK' subject page </h3>
<small>This page would show all articles related to the selected topic together with a hyperlink to read the full article</small>
<ol>
  <li>Create a model controller to handle all the searches for articles</li>
  <li>Connect to database and use MoongooseDB to find and display all articles here</li>
  <li>Design and style the page</li>
</ol>

<div id="root">
  
</div>

<%- include('../partials/topicPartials/footer') -%>
