<%- include('../partials/rootsPartials/header') -%>
    <%- include('../partials/nav') -%>

    <h1>Create Article Page</h1>
    <small>
      <ol>
        <li>Create a from to allow logged in users/ members to create and contribute articles</li>

      </ol>

    </small>


<%- include('../partials/rootsPartials/footer') -%>
