<%- include('../partials/rootsPartials/header') -%>
    <%- include('../partials/nav') -%>

    <!-- <h1>Create Article Page</h1> -->
    <!-- <small>
      <ol>
        <li>Create a from to allow logged in users/ members to create and contribute articles</li>

      </ol>

    </small> -->

    <h2>To complete for this page</h2>
    <ul>
      <li>Create an input where users can fill in the topic for the article</li>
      <li>Create an input where users can enter their name to be stored with the article</li>
      <li>Figure out a way to allow users to add social media handles with article</li>
      <li>Style Page</li>
      <li>Maybe create a page for when a member submits an article. Like maybe back to their profile where all their articles are displayed</li>
    </ul>


    <div class="container-fluid mt-5 p-5" id="createArticle-container">
      <i class="far fa-newspaper" id="article-icon"></i>
      <h1 class="mb-5" id="createArticle-header">Share your Ideas</h1>
      <br>
      <div class="container">


      <form class="" id="form-control" action="" method="post">
        <script src="https://cdn.ckeditor.com/ckeditor5/21.0.0/classic/ckeditor.js"></script>
<<<<<<< HEAD
        <div class="form-group">
          <label for="topic" id="topic-label">Topic</label>
          <input id="topic" type="text" name="topic">
=======
        <div class="form-group" id="form-group-title-label">
>>>>>>> testhere
          <label for="title" id="title-label">Title</label>
          <input id="title" type="text" name="title">
        </div>
        <div class="form-group" id="form-group-title-label">
          <label for="topic" id="topic-label">Topic</label>
          <input id="topic" type="text" name="topic">
        </div>
        
        <div class="form-group">
          <label for="editor" id="content-label">Content</label>
          <textarea id="editor" name="content" value="CKEDITOR.instances.content.getData()"></textarea>
          <script>
                  ClassicEditor
                          .create( document.querySelector( '#editor' ), {
                            toolbar: [ 'heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote' ],

                          })

                          .then( editor => {
                                  console.log( '(create.ejs)This is ckEditor ---> ', editor.sourceElement.innerHTML );
                          } )
                          .catch( error => {
                                  console.error( error );
                          } );
          </script>
        </div>
        <button class="btn btn-sm" id="create-article-btn" type="submit" name="submit">Submit</button>
      </form>
      </div>
    </div>


<%- include('../partials/rootsPartials/footer') -%>
