    <%- include('../partials/rootsPartials/header') -%>
    <%- include('../partials/nav') -%>
    <div class="container-fluid">
      <div class="row">
        <div class="container col-sm-6 front">
          <i class="fas fa-swatchbook" id="front-icon"></i>
          <h3 class="home-head text-center" id="head-front"><a id="head-anchor" href="/frontend">Front</a></h3>
        </div>

          <div class="container col-sm-6 back">
            <i class="fas fa-server" id="back-icon"></i>
            <h3 class="home-head text-center" id="head-back"><a id="head-anchor" href="/backend">Back</a></h3>
          </div>
      </div>


    </div>
    <div class="row">
      <div class="container col-sm-8 intro">
        <div class="text-center">
          <h4>Web Developer Forum</h4>
          <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>
        </div>
      </div>
    </div>

    <%- include('../partials/rootsPartials/footer') -%>
