<%- include('../partials/rootsPartials/header') -%> <%-
include('../partials/nav') -%>
<div class="container-fluid mt-5 p-5" id="createArticle-container">
  <i class="far fa-newspaper" id="article-icon"></i>
  <h1 class="mb-5" id="createArticle-header">Share your Ideas</h1>
  <br />
  <div class="container">
    <h1>Profile page</h1>
  </div>
</div>
<%- include('../partials/topicPartials/footer') -%>
